.container-menu {
  margin-top: 24.5px;
  background-color: $primary-color;
  height: 213px;
  body.dark & {
    background-color: $primary-dark-color;
  }
}

.div-menu {
  display: flex;
  justify-content: center;
  a:hover {
    color: $light-color;
    background-color: $dark-color;
  }
}

.menu {
  background-color:rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color:$light-color;
  font-size: 1.8vh;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-radius: 1.5vh;
  border-width: 0.3vh;
  border-color: rgb(253, 247, 247);
  border-style: solid;
  width: 26vh;
  height: 3.3vh;
  transition: background-color 0.5s;
  font-size: 1.7vh;
}

@media screen and (max-width: 1200px) {
  #logo-head {
    height: 90px;
  }

  #arrow {
    display: none;
  }

  .container-menu {
    height: 253px;
  }
}

@media screen and (max-width: 768px) {
  .div-menu {
    flex-direction: column;
    align-items: center;
  }
  
  .menu {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 2vh;
    width: 100%;
    height: 3.5vh;
    font-size: 1.7vh;
  }
  .container-menu {
    height: 31vh;
  }
}