.container-menu {
    margin-top: 24.5px;
    background-color: $primary-color;
    height: 213px;
      a:hover {
        color: $primary-light-color;
        background-color: $primary-dark-color;
      }
}

.container-menu-transparent {
  margin-top: 24.5px;
  height: 150px;
  
  a:hover {
    color: $primary-light-color;
    background-color: $primary-dark-color;
  }
}

.div-menu {
  display: flex;
  justify-content: center;
}

.menu {
  background-color:rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color:$primary-light-color;
  font-size: 1.8vh;
  font-weight: bold;

  
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  
  border-radius: 1.5vh;
  border-width: 0.3vh;
  border-color: rgb(253, 247, 247);
  border-style: solid;
  
  width: 25vh;
  height: 3.3vh;
  
  transition: background-color 0.5s;
}

@media screen and (max-width: 1200px) {
  #logo-head {
    height: 90px;
  }

  #arrow {
    display: none;
  }

  .container-menu {
    height: 253px;
  }
}

@media screen and (max-width: 768px) {
  .container-menu {
    height: 355px;
  }

  .div-menu {
    flex-direction: column;
    align-items: center;
  }

  .menu {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 2.2vh;
    width: 100%;
    height: 3.5vh;
  }
}