#logo-head {
  position: absolute;
  left: 15px;
  top: 15px;
  border: 0px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  #logo-head{
    left: 5px;
    top: 5px;
    max-height: 60px;
  }
  
}