@use "../settings/variables" as *;

.container-links {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
  justify-content: center;

  margin-top: 25px;
  margin-bottom: 25px;
}

.logos {
  display: flex;
  width: 1240px;
  justify-content: space-around;
}

.link {
  width: auto;
}

.imgEpic,
.imgPs {
  height: 110px;
}