.container-button {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
  justify-content: center;

  margin-top: 39.5px;
  margin-bottom: 64px;
}

.button-logo {
  display: flex;
  width: 1240px;
  justify-content: space-around;
}

.button-logo__body {
  height: 110px;
}

@media screen and (max-width: 768px) {
  .button-logo__body{
    height: 80px;
  }
}