#logo-head {
  height: 90px;
  position: absolute;
  left: 15px;
  top: 15px;
  border: 0px;
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  #logo-head {
    height: 90px;
  }
}

@media screen and (max-width: 768px) {

  #logo-head {
    height: 62.62px;
  }
}