.tabs__date {
  position: flex;
  justify-content: center;
  width: max-content;
  border-style: solid;
  border-width: 1px;
  padding: 12px;
  background-color: $primary-light-color;
  margin-left: 7.5%;
} 

.tabs {
  margin: 0 auto;
  width: 85%;
  margin-bottom: 1vh;
}

.tabs__list {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 1px;
  padding: 1.5vh;
  background-color: $primary-light-color;
  font-size: 17px;

}

.tabs__item {
  width: 12%;
  text-align: start;
}


.tabs__item-2{
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
  text-align: start;
}

.tabs__item__item {
  width: 33%;
}

.tabs__item-3 {
    width: 18%;
    text-align: end;
}

@media screen and (max-width: 768px) {
  .tabs__date{
    margin-left: 1.5%;
  }
  .tabs{
    width: 97%;
  }
  
  .tabs__list {
    flex-direction: column;
    
  }
  .tabs__item{
    width: 100%;
  }
  .tabs__item-2{
    width: 100%;
  }

  .tabs__item__item{
    text-align: center;
  }
  .tabs__item-3{
    width: 100%;
    text-align: center;
  }
}