// generic
@import "generic/boxSizing";
@import "generic/normalize";

// settings
@import "settings/colors";
@import "settings/layout";
@import "settings/typography";
@import "settings/variables";

// atoms
@import "atoms/logo-head";
@import "atoms/logos";
@import "atoms/arrow";

// molecules
@import "molecules/tabla";
@import "molecules/video";
@import "molecules/picture-kid-a";

//organisms
@import "organisms/footer";
@import "organisms/background";

// tools
@import "tools/justify";
@import "tools/sidebar";
@import "tools/toRem";

body {
  background-color: $primary-light-color;
  font-family: $font-family;
}

@media screen and (max-width: 1200px) {
  #logo-head {
    height: 90px;
  }

  #arrow {
    display: none;
  }

  .container-menu {
    height: 253px;
  }
}

@media screen and (max-width: 768px) {

  #logo-head {
    height: 62.62px;
  }
  #video-head {
    display: none;
  }

  #picture-head{
    display: block;
  }
  .img-epic,
  .img-ps {
    height: 80px;
  }

  .container-menu{
    height: 355px;
  }

  .div-menu {
    flex-direction: column;
    align-items: center;
  }

  .menu {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}