$_pomegranate: #E53013;
$_mine-shaft: #2e2e2e;
$_baltic-Sea: #282729;
$_cod-gray: #181818;
$_dove-gray: #666;
$_boulder: #777;
$_white: #fff;
$_alabaster: #fafafa;
$_gallery: #ececec;
$_fantasy: #FDF7F7;


$primary-color: $_pomegranate;
$primaryDarkColor: $_mine-shaft;

$background-dark-color: $_baltic-sea;
$background-darker-color: $_cod-gray;
$background-light-color: $_alabaster;
$background-lighter-color: $_white;

$text-color: $_cod-gray;
$text-muted-color: $_dove-gray;
$text-inverted-color: $_white;

$border-color: $_dove-gray;
$border-inverted-color: $_gallery






