$_thunderbird: #ce2b11;
$_cinnabar: #a5220e;
$_mine-shaft: #2e2e2e;
$_scorpion:#585858;
$_silver: #cac6c6;
$_fantasy: #Fdf7f7;


$primary-color: $_thunderbird;
$secundary-color: $_cinnabar;
$primary-dark-color: $_mine-shaft;
$primary-dark-gray-color: $_scorpion;
$primary-gray-color: $_silver;
$primary-light-color: $_fantasy;
