#logo-head {
  height: 90px;
  position: absolute;
  left: 15px;
  top: 15px;
  border: 0px;
  z-index: 1;
}

.text {
  text-align: center;
}

.container-menu {
  background-color: rgb(229 48 19);
}

.div-menu {
  display: flex;
  justify-content:center;
}

.menu {
  background-color: rgba(rgba(255, 255, 255, 0));
  display: flex;
  justify-content: center;
  font-family: "League Spartan", sans-serif;
  color: rgb(253,247,247);
  font-size: 1.8vh;
  font-weight: bold;

  text-decoration: none;
  word-spacing: 1px;
  text-transform: uppercase;
  text-align: center;

  border-radius: 1.5vh;
  border-width: 0.3vh;
  border-color: rgb(253,247,247);
  border-style: solid;

  width: 23vh;

  transition: background-color 0.5s ;
} 

.container-menu a:hover {
    color: rgb(253,247,247);
    background-color: rgb(46, 46, 46);
  }

@media screen and (max-width: 1200px) {
  #logo-head {
    height: 76.5px;
  }
}

@media screen and (max-width: 992px) {
  #logo-head {
    height: 62.62px;
  }
}