.img-epic {
  height: 110px; }

.img-ps {
  height: 110px; }

.font, .menu {
  font-family: "League Spartan", sans-serif;
  color: #fdf7f7;
  font-size: 1.8vh;
  font-weight: bold;
  text-decoration: none;
  word-spacing: 1px;
  text-transform: uppercase;
  text-align: center; }

body {
  margin: 0px;
  background-color: #fdf7f7; }

#logo-head {
  height: 90px;
  position: absolute;
  left: 15px;
  top: 15px;
  border: 0px;
  z-index: 1; }

#video-head {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  z-index: -1; }

.container-arrow {
  position: relative; }

#arrow {
  display: inline-block;
  height: 30px;
  position: absolute;
  bottom: 150px;
  left: 50%;
  filter: drop-shadow(2px 2px 0.75px #2e2e2e);
  z-index: 2; }

.container-links {
  display: flex;
  justify-content: center;
  min-height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #fdf7f7; }

.logos {
  display: flex;
  width: 1240px;
  justify-content: space-around; }

.link {
  width: auto; }

.img-epic,
.img-ps {
  height: 110px; }

.container-menu {
  background-color: #e53013; }
  .container-menu a:hover {
    color: #fdf7f7;
    background-color: #2e2e2e; }

.div-menu {
  display: flex;
  justify-content: center; }

.menu {
  display: flex;
  justify-content: center;
  border-radius: 1.5vh;
  border-width: 0.3vh;
  border-color: #fdf7f7;
  border-style: solid;
  width: 23vh;
  transition: background-color 0.5s; }

@media screen and (max-width: 1200px) {
  #logo-head {
    height: 76.5px; }
  #arrow {
    height: 25.5px;
    bottom: 110px; } }

@media screen and (max-width: 992px) {
  #logo-head {
    height: 62.62px; }
  #arrow {
    height: 20.87px;
    bottom: 95px; }
  .img-epic,
  .img-ps {
    height: 77.3px; } }
